
.primary-btn{
  border: none;
  border-radius: 0.2rem;
  outline: none;
  padding: 0.4rem 0.6rem;
  text-align: center;
  background-color: #E02020;
  color: white;
  font-size: 1rem;
  font-weight: 500;

  &:hover{
    //opacity: 0.7;
  }

  &:focus{

  }
}