
.heading-container{
  margin-top: 1rem;
  width: fit-content;
}

.heading-h2{
  margin: 0;
  position: relative;
  padding: 1rem 0;
  font-weight: bolder;

  &::before{
    display: block;
    content: '';
    height: 1px;
    position: absolute;
    background-color: #E02020;
    top: 0;
    left: 0;
    width: 8rem;
  }

  .sub-title{
    color: #333333;
    font-size: 1rem;
    text-transform: capitalize;
    padding: 0 1rem;
    font-weight: 300;
  }
}