
.flex{
 display: flex;
}

.flex-col{
  flex-direction: column;
}

.items-center{
  align-items: center;
}

.space-between{
  justify-content: space-between;
}

.space-around{
  justify-content: space-around;
}

.justify-center{
  justify-content: center;
}

.color-is-white{
  color: white;
}

.color-is-black{
  color: #333333;
}

.color-is-red{
  color: #E02020;
}

.no-margin{
  margin: 0;
}

.has-gutter{
  padding: 0 0.4rem;
}

.padding-lr{
  padding: 0 2.2rem;
}

.width-desktop{
  width: 54vw;
}

.list-style-none{
  list-style: none;
}

.no-padding{
  padding: 0;
}

.text-left{
  text-align: left;
}

.flex-wrap{
  flex-wrap: wrap;
}


.hidden{
  display: none;
  opacity: 0;
  visibility: hidden;
}

@media screen and (min-width: 1024px){
  .hide-on-desktop{
    display: none;
    opacity: 0;
    visibility: hidden;
  }
}

@media screen  and (max-width: 768px){

  html{
    font-size: 10px;
  }
  .hide-on-mobile{
    display: none;
    visibility: hidden;
    opacity: 0;
  }

  .width-desktop{
    width: 75%;
  }

  .padding-lr{
    padding: 0 0;
    padding-left: 1rem;
  }

  .row-reverse-mobile{
    flex-direction: row-reverse;
  }

  .flex-col-mobile{
    flex-direction: column;
  }

  .flex-on-mobile{
    display: flex;
  }

  .flex-between-mobile{
    justify-content: space-between;
  }

}


@media screen  and (max-width: 768px){
  .width-desktop{
    width: 90%;
  }
}

@media screen and (min-width: 1024px){
  html{
    font-size: 13px;
  }
}

@media screen and (min-width: 1284px){
  html{
    font-size: 14px;
  }
}

@media screen and (min-width: 1690px){
  html{
    font-size: 17px;
  }
}