

.blue-details{
  margin: 0.6rem 0;

  &[open] .details-title::after{
    transform: rotate(-90deg);
  }

  .details-title{
    text-transform: uppercase;
    position: relative;

    &::-webkit-details-marker{
      display: none;
    }



    &::after{
      display: inline-block;
      transform: rotate(90deg);
      background-image: url('../../Assets/Images/next.png');
      background-size: 20px;
      width: 20px;
      height: 20px;
      content:"";
      position: absolute;
      top: 10px;
      right: 16px;


    }

    padding: 0.4rem 1rem;
    text-align: left;
    background-color: #071a2c;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    outline: none;
  }

  .details-para{
    background-color: #071a2c;
    color: white;
    padding: 1rem;
    text-align: left;
    font-weight: 300;

  }
}

.gray-details{

  margin: 0.6rem 0;

  &[open] .details-title::after{
    transform: rotate(-90deg);
  }

  .details-title{
    position: relative;

    &::-webkit-details-marker{
      display: none;
    }



    &::after{
      display: inline-block;
      transform: rotate(90deg);
      background-image: url('../../Assets/Images/next.png');
      background-size: 20px;
      width: 20px;
      height: 20px;
      content:"";
      position: absolute;
      top: 10px;
      right: 16px;


    }

    padding: 0.4rem 1rem;
    text-align: left;
    background-color: #EAEAEA;
    font-size: 1.2rem;
    font-weight: 500;
    outline: none;
  }

  .details-para{
    background-color: #f5f5f5;
    padding: 1rem;
    text-align: left;
    font-weight: 300;

  }
}

@media screen and (max-width: 768px){
  .gray-details .details-title{
    padding-right: 4rem;
  }

  .gray-details .details-title::after{
    background-size: 12px;
    background-repeat: no-repeat;
    right: 20px;
  }
}